/* Resetting margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #333;
}

/* Header styles */
header {
    background-color: white; /* Set the header background to white */
    padding: 10px 20px;
    border-bottom: 2px solid #ddd;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 30px;
}

/* Burger menu styling */
.burger-menu {
    display: none;
    font-size: 30px;
    color: #333; /* Ensure burger menu is visible on white */
    border: none;
    background: none;
    cursor: pointer;
}

/* Navigation links styling */
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #333; /* Ensure links are visible on white background */
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    .burger-menu {
        display: block; /* Display burger menu on smaller screens */
    }

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .nav-links.active {
        display: flex; /* Show menu on click */
    }

    .nav-links li {
        margin: 20px 0;
    }

    .nav-links a {
        color: #fff; /* Ensure links are white in mobile view */
    }
}

/* Main content styling */
main {
    padding: 20px;
    text-align: center;
}

main h2 {
    font-size: 2.5rem;
    color: #00366B;
    margin-bottom: 20px;
}

main p {
    font-size: 1.2rem;
    color: #555;
}

/* Footer styling */
footer {
    background-color: #e6e6e6;
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 90px;
}

/* Custom Button Styles */
.btn-custom {
    background-color: #00366B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: darkblue;
}
