/* Resetting margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #333;
}

/* Header styles */
header {
    background-color: white; /* Set the header background to white */
    padding: 10px 20px;
    border-bottom: 2px solid #ddd;
}

.bg-dark {
    background-color: #2d3d4d !important;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: #333;
}

/* Burger menu styling */
.burger-menu {
    display: none;
    font-size: 30px;
    color: #333; /* Ensure burger menu is visible on white */
    border: none;
    background: none;
    cursor: pointer;
}

/* Navigation links styling */
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #333; /* Ensure links are visible on white background */
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    .burger-menu {
        display: block; /* Display burger menu on smaller screens */
    }

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        flex-direction: column;
        width: 100%;
        height: 300px;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .nav-links.active {
        display: flex; /* Show menu on click */
    }

    .nav-links li {
        margin: 20px 0;
    }

    .nav-links a {
        color: #fff; /* Ensure links are white in mobile view */
    }
}

/* Custom Button Styles */
.btn-custom {
    background-color: #00366B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: darkblue;
}

.text-custom {
    color: #00366B;
}

/* Footer Custom Styling */
.footer-custom {
    background-color: #e6e6e6 !important; 
    color: black; /* Text color */
}

.custom-img-height {
    height: 300px; /* Adjust this value as needed */
    object-fit: cover; /* Ensures the image scales proportionally without distortion */
}

.custom-img-height1 {
    height: 200px; /* Adjust this value as needed */
    object-fit: cover; /* Ensures the image scales proportionally without distortion */
}

.carousel-item img {
    width: 70%; /* Adjust this percentage as needed */
    max-width: 600px; /* Add a max width to ensure images don’t get too large on wider screens */
    margin: 0 auto; /* Center the images within the carousel */
    height: auto; /* Maintain the aspect ratio */
}